
  <!-- <app-admin-dashboard></app-admin-dashboard> -->

  <div
  class="bg-image"
  style="
    background-image: url('https://thumbs.dreamstime.com/b/policies-blue-binder-text-office-desk-96149836.jpg');
    height: 100vh; margin-top: -2%;
  "

>
<div container="mt-5 text-center">
  <div class="row">
    <div class="col text-center mt-5">
        
    </div>
    <div class="col text-center mt-5">
    
    </div>
    <div class="col text-center mt-5">
        <h1 class="fs-1"><strong style="color: rgb(255, 0, 179);">Policy Section</strong></h1>
    </div>
    <div class="col text-center mt-5">
        
    </div>
    <div class="col">
        <button type="button" class="btn btn-dark mt-5 mr-5" (click)="goBack()">Back TO Dashboard</button>
    </div>
  </div>
  <br/>
  <hr>
  <br/>
<div class="row px-5 px-5 px-5">
  <div class="col-sm-4">
    <div class="card text-center border border-success border-3">
      <div class="card-body">
        <h5 class="card-title fs-2">Add Policy</h5>
        <p></p>

        <a routerLink="addPolicy" class="btn btn-primary ">Click Here</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center border border-warning border-3">
      <div class="card-body">
        <h5 class="card-title fs-2">Update Policy</h5>
        <P></P>
       
        <a routerLink="updatePolicy" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card text-center border border-info border-3">
        <div class="card-body">
          <h5 class="card-title fs-2">View Policy</h5>
          <p></p>
          
          <a routerLink="viewPolicy" class="btn btn-primary">Click Here</a>
        </div>
      </div>
    </div>
</div>
</div> 
<br/>
<div class="row px-5 px-5 px-5">
<div class="col-sm-4">
  <div class="card text-center border border-danger border-3">
    <div class="card-body">
      <h5 class="card-title fs-2">Delete Policy</h5>
      <p></p>

      <a routerLink="deletePolicy" class="btn btn-primary ">Click Heree</a>
    </div>
  </div>
</div>


</div>


</div>
  
  