
<nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="height: 80px;">
    <a href="background" class="navbar-brand"><h1 class="fs-2">Insurance Management System</h1></a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
      
        <li class="nav-item">
            <a routerLink="signup" class="nav-link" ><h2>Customer</h2></a>
        </li>
  
        <li class="nav-item">
            <a  class="nav-link" routerLink="adminlogin"><h2>Admin</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us"><h2>About Us</h2></a>
      </li>
  
      <li class="nav-item">
        <a  class="nav-link" routerLink="contact"><h2>Contact Us</h2></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" ><h2>&nbsp;&nbsp;</h2></a>
  </li>
    </ul>
    
    </div>
  
  </nav>

  <router-outlet></router-outlet>
  <!-- <img src="assets/images/background.jpeg" style="width:500px;"> -->
  <!-- <div id="sect1" class="container-fluid" style="height: 800px;" >        -->
    <!-- <h2>Now Load image on the displa\</h2>   -->
    <!-- </div>  -->


  