.logo{
  
    text-align:center;
    padding: 2.6rem 1rem;
  }
  .mat-icon{
    vertical-align: center;
    margin-right: 1rem;
  }
  .mat-subheader{
    text-align: center;
    color: red;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  .mat-divider{
    border-top-width: 2px;
    border-color: green;
  }
  
  .mat-list-item{
    color: black !important;
    font-size: 1rem;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 1px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
   body {
      overflow-x: hidden;
    }
    #sidebar-wrapper {
      min-height: 100vh;
      margin-left: -15rem;
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
    }
    #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }
    #sidebar-wrapper .list-group {
      width: 15rem;
    }
    #page-content-wrapper {
      min-width: 100vw;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }
    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }
      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }
      #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
      }
    } 