
<!-- <h3 mat-dialog-title class="text-center fs-2 mt-5">About Us</h3> -->
<div class="fs-1">
    <div class="container text-center mt-5 fs-2 text-light bg-dark">
    <h2><i><b>Insurance Policy Management</b></i></h2><br/>
    <h2><i><b>About Us....</b></i></h2>
    <h3>Every day we wake up to the fact that more than 250 million lives are part of our family called Insurance Policy Management.<br/>

        We are humbled by the magnitude of the responsibility we carry and realise the lives that are associated with us are very valuable indeed.<br/>
        
        Though this journey started over six decades ago, we are still conscious of the fact that, while insurance may be a business for us, being part of millions of lives every day for the past 65 years has been a process called TRUST.<br/>
    </h3>
    </div>  
    <div class="conatiner text-center text-light">
        <h1><b>A true saga Of Trust.</b></h1>
    </div><br/>
        <!-- <button class="btn btn-info" (click)="goBack()" style="margin-left:15px;">Go Back</button> -->
</div>