
<div class="container mt-5  border border-2 rounded" id="login">
  <br/>
  
  <span style="color: red;" class="text-center"><h1>{{msg}}</h1></span>
  <h1 class="text-center fs-2"><strong>User Login</strong></h1>
  <br/>
<form class="fs-4" [formGroup]="loginRef" (ngSubmit)="signIn()">
  <div class="mb-3">
    <label class="form-label">Email ID</label>
    <input type="text" class="form-control" id="n1" formControlName = "emailid">
  </div>
  <br/>
  <div class="mb-3"> 
    <label class="form-label">Password</label>
    <input type="text" class="form-control" id="n2" formControlName = "password">
  </div>
 
 <div class="col">

  <a routerLink="change-user-password">Forgot Password?</a>
</div>
<br/>
<br/>
  <div class="text-center">
  <button type="submit" class="btn btn-primary me-2" id="b1" style="width: 150px;">Submit</button>
  
  <br/>
<br/>
  <div class="back">
    <p>Not a member? <button type="submit" class="btn btn-warning me-2" style="width: 150px;" (click)="SignUp()">Regsiter Here</button></p>
    </div>
  
  </div>
  <br/>
</form>

</div>

