<div class="container-fluid mt-5" style="height:70px;">
    <br/>
<h1 class="bg-success fs-1 text-center " >Contact Us</h1>
<br/>
</div>
<div class="container w-50 border border-3  text-center bg-light">
    <h2><i><b>Insurance Policy Management</b></i></h2><br/>
    <h3><b>Address</b><br/>Number 5,<br/>West Cross Street,<br/>Near White field,<br/>Bangalore,<br/>Karnataka Pincode:- 456-213</h3><br/>
    <h4>Phone Number: 555 4321 6767</h4><br/>
    <h4>Email:- RLL-insurance@gmail.com</h4><br/>
   <a routerLink="background" ><button class="btn btn-info">Go Back</button></a>
</div>